# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
cime_config/buildnmlc
cime_config/buildlibc
*$py.class
buildnmlc
.coverage
.vscode

# Sphinx docs build output
docs/_build/

# param_templates
err
mk1
